# ignore all node_modules in any subfolder
node_modules/

# ignore build outputs globally
dist/
build/

# ignore environment variables
*.env
*.env.local

# ignore OS system files
.DS_Store
Thumbs.db

package-lock.json

Homework4/